/* Make sure these look good in light mode and dark mode!
 * If you omit any values, defaults will be used.
 */
$white: rgb(181, 224, 248);
$black: #262626;
$primary: rgb(176, 99, 4);
$secondary: rgb(125, 140, 182);
$tertiary: rgb(186, 140, 222);
