.section {
  padding-bottom: var(--spacing-xl);
  padding-top: var(--spacing-xl);
  width: 100%;
}

.content {
  place-items: center;
  grid-gap: var(--spacing-l);
}

.content.hasImage {
  display: grid;
}
