.section {
  margin-bottom: var(--spacing-xl);
  margin-top: var(--spacing-xl);
  width: 100%;
}

.content {
  place-items: center;
  grid-gap: var(--spacing-l);
}

.content.hasImage {
  display: grid;
}
