/* This is a CSS Module; see https://create-react-app.dev/docs/adding-a-css-modules-stylesheet/ */
.nav {
  --bg: var(--white);
  --fg: var(--black);
  overflow: hidden;
  padding: var(--spacing-xs);
  padding-bottom: calc(720 / 1920 * 100%) !important;
  position: relative;
}

@media (min-width: 600px) {
  .nav {
    padding: var(--spacing-l);
  }
}

.nav video {
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%) scale(1.02);
  z-index: -1;
}

.social {
  align-items: center;
  display: flex;
  gap: var(--spacing-s);
  position: relative;
  z-index: 1;
  top: -0.8em;
  left: 0.8em;
}

.social svg {
  fill: var(--secondary);
  height: var(--spacing-m);
  width: var(--spacing-m);
  vertical-align: middle;
}

.main {
  align-items: center;
  display: grid;
  justify-content: space-between;
  grid-template-columns: minmax(246px, 1fr) auto;
  gap: var(--spacing-xs);
}

.main > :first-child {
  text-align: left;
}

.main > :last-child {
  text-align: right;
  word-break: break-word;
}