/* This is a CSS Module; see https://create-react-app.dev/docs/adding-a-css-modules-stylesheet/ */
.nav {
  --bg: var(--white);
  --fg: var(--black);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-s) var(--spacing-m);
  justify-content: space-between;
  overflow: hidden;
  padding: var(--spacing-l) var(--spacing-l) calc(720 / 1920 * 100%);
  position: relative;
}

.nav video {
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%) scale(102%);
  z-index: -1;
}

.social {
  align-items: center;
  display: flex;
  gap: var(--spacing-s);
}

.social svg {
  height: var(--spacing-m);
  width: var(--spacing-m);
  vertical-align: middle;
}

.title svg,
.title img {
  display: inline-block;
  height: var(--fs-heading-1);
  width: var(--fs-heading-1);
}